.flipper-pair-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* gap: 2rem; */
  padding-top: 5rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.flipper-section {
  flex: 1;
  min-width: 300px;
  position: relative;
  z-index: 10;
}

.flipper-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0c2e73;
  margin-bottom: 1rem;
}

.flip-card-wrapper {
  perspective: 1000px;
  position: relative;
  z-index: 101;
  overflow: visible;
}

.flip-card {
  font-size: 1rem;
  background-color: #f0f4ff;
  padding: 1rem 1.5rem;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  min-width: 280px;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
  position: relative;
  z-index: 102;
}

.flipping {
  transform: rotateX(90deg);
}

.message-type {
  font-weight: 600;
  color: #0c2e73;
  white-space: nowrap;
}

.message-text-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0c2e73;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.message-text-link:hover {
  text-decoration: underline;
  color: #004bb1;
}

.flip-up.flipping {
  transform: rotateX(90deg);
}

.flip-down.flipping {
  transform: rotateX(-90deg);
}

