.footer-container {
    display: flex;
    flex-direction: row;
    gap: 35px;
    background-color: #231f54;
    height: fit-content;
    padding: 45px;
    z-index: 1000;
}

.footer-logo-container{
    width: 40%;
    height: 30vh;
}

.footer-logo{
    width: 30%;
}

.footer-socials{
    width: 70%;
    display: flex;
    justify-content: start;
    margin: 20px 0 0 0;
}

.footer-socials img{
    width: 42px;
    height: 42px;
    margin: 0 0 0 15px;
}

.gmap{
    width: 100%;
    height: 30vh !important;
    border: 0;
    border-radius: 12px;
}

.footer-contact-container{
    width: 30%;
    color: white;
}

.footer-header{
    font-size: 26px;
     color: white ;
     font-weight: 600;

} 

.footer-phone-container{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 15px 0 0 0;
}

.footer-phone{
    display: flex;
    flex-direction: column;
}

.footer-phone a, .footer-mail-container a, .footer-location-container a{
    color: white;
    font-size: 14px;
}

.footer-phone a:hover, .footer-mail-container a:hover, .footer-location-container a:hover{
    color: #f07c39;
}

.footer-phone-container img, .footer-mail-container img, .footer-location-container img{
    width: 30px;
    height: 30px;
}

.footer-links-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
}

.footer-links-container h2{
    font-size: 26px;
    color: white !important;
}

.footer-mail-container, .footer-location-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 10px 0 0 0;
    text-align: left;
}

.links-container{
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}

.links-container a{
    margin: 0 0 5px 0;
    font-size: 14px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.links-container a:hover{
    text-decoration: underline;
    color: #f07c39;
}

/* Bottom Footer */

.bottom-footer{
    padding: 10px 25px 15px 25px ;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    background-color: white;
    
}

.bottom-footer img{
    width: 30%;
}

.bottom-footer-text{
    width: 100%;
    color: #233b77;
    font-size: 12px;
    text-align: center !important; 
}

@media screen and (max-width: 768px) {
    .footer-container{
        flex-wrap: wrap;
        gap: 10px;
    }
    .footer-logo-container{
        width: 100%;
    }
    .footer-links-container{
        width: 49%;
    }
    .footer-contact-container{
        width: 49%;
    }
    
}

@media screen and (max-width: 575px) {
    .footer-container{
        padding: 25px;
    }
    .bottom-footer p{
        width: 100%;
    }
    .bottom-footer img{
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .footer-links-container{
        width: 100%;
    }
    .footer-contact-container{
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .bottom-footer{
        flex-direction: column;
    }
    .bottom-footer p{
        width: 100%;
    }
    .bottom-footer img{
        width: 100%;
    }
}