.main-container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 6px 0; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffffb1;
  backdrop-filter: blur(4px);
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.nav-logo {
  width: 28%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
}

.nav-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between buttons */
  margin-left: 20px; /* space from the logo */
}

.navbar-wrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
.nav-logo img {
  width: 180%; /* Adjust this % as needed */
  height: auto;
  display: block;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.nav-button1 a {
  background-color: #006666; /* Teal for Apply Now */
}

/* Menu */
.navbar-menu {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 6px 0;
  border-top: 1px solid #ccc;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #003366;
  font-weight: 500;
  padding: 4px 6px;
  border-right: 1px solid #ccc;
}

.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f2f2f2; /* light gray strip */
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0 0;
}

.nav-links p {
  cursor: pointer;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #0c2e73;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  justify-content: center;
}

.nav-link:hover {
  color: #f07c39;
}

.nav-links p a:hover {
  color: #f07c39;
}

.nav-dropdown {
  border-right: #00000038 2px solid;
  padding: 0 10px 0 10px;
  position: relative;
  background-color: #f0f0f0;
}

.nav-button a {
  color: white;
  background-color: #0c2e73;
  padding: 5px 25px;
  margin: 0 0 0 10px;
  border: none;
  /* border-radius: 32px; */
  text-decoration: none;
  font-size: 14px;
}

.nav-button1 button {
  color: #fffd00;
  background-color: #027176;
  padding: 10px 56px; /* increased left-right padding */
  margin: 0 0 0 10px;
  border: none;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  line-height: 1.2;
  font-weight: 600;
  display: inline-block;
  width: max-content;
}

.nav-button1 a:hover {
  color: #0c2e73;
  background-color: #fffd00;
}

.nav-button2 button {
  color: white;
  background-color: #10bad2;
  padding: 10px 30px;
  margin: 0 0 0 10px;
  border: none;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  line-height: 1.2;
  font-weight: 600;
  display: inline-block;
  width: max-content;
  background-color: #002f6c;
}

.nav-button2 a:hover {
  background-color: #f07c39;
  color: black;
}

/* Dropdown */

.dropdown {
  position: absolute;
  right: -50%;
  margin: 1vh 0 0 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 6px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 101;
  opacity: 0;
  transform: translateY(-15px);
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: left;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 6px;
  white-space: nowrap;
  z-index: 999;
  margin: 1vh 0 0 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.nav-links p:hover,
.dropdown {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.dropdown a {
  color: #0c2e73;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  white-space: nowrap;
}

.dropdown a:hover {
  color: #f07c39;
}

/* Mobile Section */

/* Outer */

.menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button img {
  width: 35px;
  height: 35px;
}

/* Inner */
.mobile-menu {
  position: absolute;
  top: 0;
  left: -110vw;
  width: 100vw;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease-in-out;
  overflow-y: scroll;
  z-index: 1;
}

.mobile-menu.open {
  left: 0;
}

.mobile-menu-header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  width: 40%;
  height: 100%;
}

.menu-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: 25px;
}

.mobile-dropdown-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mobile-menu a,
.menu-item {
  text-decoration: none;
  color: #0c2e73;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
}

.menu-item,
.menu-item1 {
  border-bottom: #f07c39 1px solid;
}

.menu-item p {
  margin: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-item img {
  width: 25px;
  height: 25px;
}

.mobile-menu a:hover {
  color: #f07c39;
}

.mobile-dropdown-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

@media screen and (max-width: 1324px) {
  .nav-links {
    gap: 10px;
  }
  .nav-links p a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1175px) {
  .nav-links {
    display: none;
  }

  .main-container-navbar {
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
  }
  .menu-button {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .nav-logo {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .nav-logo {
    width: 50%;
  }
  .menu-logo {
    width: 50%;
  }
  .mobile-menu a,
  .menu-item {
    font-size: 14px;
  }
  .close-button {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 568px) {
  .nav-logo {
    width: 100%;
  }
  .main-container-navbar {
    padding: 10px 5px;
  }
  .menu-logo {
    width: 60%;
  }
  .close-button {
    margin-right: 5px;
  }
}

@media screen and (max-width: 394px) {
  .nav-logo {
    width: 100%;
  }
  .menu-logo {
    width: 80%;
  }
}

/* Download Form */

.popup-form1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background: #233b77;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.form-container button:last-child {
  background: #ff0000;
  margin-top: 10px;
}

/* Dropdown Item Wrapper */
.dropdown-item {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #0c2e73;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  justify-content: center;
}

/* Submenu inside a dropdown */

/* Reveal submenu on hover */
.dropdown-item:hover > .submenu {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.submenu a {
  font-size: 14px;
  padding: 4px 6px;
  color: #0c2e73;
  text-decoration: none;
  font-weight: 500;
  gap: 6px;
  

  word-break: break-word;
}

.submenu a:hover {
  color: #f07c39;
}

.dropdown-item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #0c2e73;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  justify-content: center;
}
/* 
.submenu a:hover {
  background-color: #f0f0f0;
} */
@media screen and (max-width: 1024px) {
  .navbar-top {
    padding: 12px 16px;
  }

  .nav-buttons-container {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .nav-menu,
  .nav-links-container,
  .dropdown,
  .submenu {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-logo {
    width: 140px;
  }

  .menu-button img {
    width: 24px;
    height: 24px;
  }

  .mobile-menu a {
    font-size: 14px;
  }

  .close-button {
    width: 24px;
    height: 24px;
  }
}
