.governing-layout {
  display: flex;
  gap: 2rem;               
  margin-top: 23vh;        
  padding: 1rem 5rem 1rem 10rem; /* top right bottom left */
  justify-content: center;
  box-sizing: border-box;
}


.year-selector {
  width: 200px; 
  border-right: 1px solid #ccc;
  padding-right: 1rem;
  margin-top: 18rem;

}

.year-selector h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
   color:  #233b77;
   text-align: center;
}

.year-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}

.year-selector li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
  width: 150px;
  box-sizing: border-box;
   /* border-bottom: 1px solid #ccc;  */
  
}

.year-selector li:hover {
  background-color: #e0e0e0;
}

.year-selector li.active {
  background-color:  #3f3d9b;;
  color: white;
  font-weight: bold;
  
}

.table-area {
  flex-grow: 1; 
  padding-left: 1rem;
}

.advisory-head {
  margin-bottom: 1rem;
  text-align: center;
}
